
/.vs
/Data/Scripts/obj
/Data/System/Source/obj
*.log
/Backups
/Data/Scripts/.vs
/Data/System/Source/.vs
ConficturaServer - Shortcut.lnk
Data/Data.bin
/Saves
/Info
/Logs
Data/Data.hash
Data/Data.pdb
/docs
/Data/Logs
/output
reportHistory.xml
staffHistory.xml
ConficturaServer.exe - Shortcut.lnk
Info/adventures.txt
Info/battles.txt
*.pdb
*.bin
Info/adventures.txt
Info/battles.txt
Info/online.txt
Info/quests.txt
