################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backups/Automatic/Most Recent (13-3-2024 18-13-14)
/Data/Logs/Commands
/Backups/Automatic/Most Recent (13-3-2024 18-21-55)
/Backups/Automatic/Second Backup (13-3-2024 18-13-14)/ChatBeta8
/Backups/Automatic/Second Backup (13-3-2024 18-13-14)/Info
/Backups/Automatic/Second Backup (13-3-2024 18-13-14)
/Backups/Automatic
