
/.vs
/Data/Scripts/obj
/Data/System/Source/obj
*.log
/Backups
/Data/Scripts/.vs
/Data/System/Source/.vs
/Saves
ConficturaServer - Shortcut.lnk
Data/Data.bin
Saves/Accounts/accounts.xml
Saves/ChatBeta8/Channels.bin
Saves/ChatBeta8/Friends.bin
Saves/ChatBeta8/GlobalListens.bin
Saves/ChatBeta8/GlobalOptions.bin
Saves/ChatBeta8/Ignores.bin
Saves/ChatBeta8/PlayerOptions.bin
Saves/ChatBeta8/Pms.bin
Saves/Guilds/Guilds.bin
Saves/Guilds/Guilds.idx
Saves/Items/Items.bin
Saves/Items/Items.idx
Saves/Items/Items.tdb
Saves/Mobiles/Mobiles.bin
Saves/Mobiles/Mobiles.idx
Saves/Mobiles/Mobiles.tdb
